.App {
  text-align: center;
}
.slide {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.slide .slide_item {
  width: 1000px;
  height: 200px;
  background: #292929;
  margin: 20px;
}

.next_prev {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.next_prev button {
  margin: 0px 20px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
